body {
    font-family: arial, Helvetica, sans-serif;
}

.container > div {
    height: 100%;
}

.left-section {
    display: flex;
    align-items: center;
    background-image: url("buildings.jpg");
    background-size: cover;
    width: 35%;
    position: absolute;
    left: 0px;
}

.right-section {
    background-color: #ececea;
    width: 65%;
    right: 0px;
    position: absolute;
}

.title {
    width: 100%;
}


.title h2{
    text-align: center;
    padding: 2rem;
    color: #f3f3f3;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.575)
}

.right-section p {
    margin-top: 8rem;
}

.right-section > p,
.right-section h2 {
    font-weight: 600;
    color: #161616;
    font-size: 1.2rem;
    margin-left: 3rem;
    margin-right: 8rem;
}

.right-section h2 {
    margin-top: 1.4rem;
    margin-bottom: 2.6rem;
}

.right-section h3 {
    font-size: 1.2rem;
}

.user-data {
    font-size: .8rem;
    background-color: #f8f3f3;
    padding: 1rem;
    padding-left: 3rem;
    box-shadow: 10px 6px 12px  rgb(207, 207, 207);
}

.user-data-form {
    display: flex;
    flex-wrap: wrap;
}

.user-data div {
    padding-right: 50px;
    padding-top: 20px;
}


.right-section button {
    border: none;
    margin-top: 40px;
    margin-left: 3rem;
    font-size: 1.4rem;
    padding: 14px;
    width: 16rem;
    border-radius: 6px;
    color: #f3f3f3;
    background-color: #573f3f;
    box-shadow: 1px 1px 6px #1a1919;
}

input {
    appearance: none;
    background-color: #f8f3f3;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    margin: 0;
    box-sizing: border-box;
    width: 280px;
    padding: 5px;
    height: 32px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #d1cfcf;
}

